body
{
    
}
.text-titre
{
    font-size:25px;
}
.box
{
    width: 900px;
    text-align: center;
    padding: 15px;
    margin: auto;
    background-color: #Fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    height:740px;
}
.taille
{
    width: 150px;
}
.vs
{
    padding-right: 100px;
    margin-top: 80px;
}

input {
    border: none;
}
.input {
  width: 40%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}
.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 60%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}
.input:hover{
    border-bottom: 2px solid black;
}
