<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->

        <title>Responsive sidebar submenus</title>
    </head>
    <body>
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <img src="../../assets/imp/home.png" alt="" class="header__img">
                <a href="#"   class="header__logo">  InfoCovidMada </a>
            </div>
        </header>

        <!--========== NAV ==========-->
        <div class="nav" style="background-color: #aee571;" id="navbar">
            <nav class="nav__container">
                <div>
                    <a routerLink="/" class="nav__link nav__logo">
                        <img class=' nav__icon'  style="width:35px"  src="../../assets/imp/virus.png" alt="" >
                        <span class="nav__logo-name">InfoCovidMada</span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Menu</h3>
                            
                            <a routerLink="/" class="nav__link ">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/home.png" alt="" >
                                <span class="nav__name">Accueil</span>
                            </a>
                            <a routerLink="/InfoCovidMada-Statistique/{{date}}"  class="nav__link ">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/trend.png" alt="" >
                                <span class="nav__name">Statistiques</span>
                            </a>
                            <a routerLink="/Liste-pharmacies-garde-Antananarivo" class="nav__link ">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/medicine.png" alt="" >
                                <span class="nav__name">Liste des pharmacies</span>
                            </a>
                            
                            <a routerLink="/Liste-Centres-Traitement-Covid-19"class="nav__link active">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/hospital.png" alt="" >
                                <span class="nav__name">Liste des CTC-19</span>
                            </a>

                            <a routerLink="/Liste-Hôtels-Hôpitaux-Covid-19" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/hostel.png" alt="" >
                                <span class="nav__name">Liste des HH</span>
                            </a>
                            
                            <a routerLink="/InfoCovidMada-Admin-Connexion" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/admin.png" alt="" >
                                <span class="nav__name">Admin login</span>
                            </a>
                        </div>
    
                    </div>
                </div>

                <a href="#" class="nav__link nav__logout">
                    <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/copyright.png" alt="" >
                    <span class="nav__name">Tsiky Navalona</span>
                </a>
            </nav>
        </div>

        <!--========== CONTENTS ==========-->
        <main>
            <section>
                <div class="box" style="margin-top:55px;width:1000px;height:auto">
                    <h1 style="font-size:1.5em">Liste des Centres de Traitements Covid-19 </h1>
                    <h2 style="font-size:1em"><strong>Voici une liste de CTC-19</strong></h2> 
                    <ul class="collection with-header" style="margin-top:50px;width:50%;margin-left : 240px" *ngFor = "let item of list_CTC">
                        <li class="collection-header"><h4>{{item.nomCentreTraitement}}</h4></li>
                        <li class="collection-item">Lieu : {{item.lieuCentreTraitement}} </li>
                    </ul> 
                </div>
            </section>
        </main>

        <!--========== MAIN JS ==========-->
    </body>
</html>
