<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <a routerLink="/" style="margin-right:1000px"><button class="btn btn-outline-danger">Quitter Mode Admin</button></a><br/>
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <b style="color:black;font-size:34px;font-family:Century Gothic;font-weight:normal" >INFOCOVIDMADA ADMiN </b>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <a routerLink="/InfoCovidMada-Admin-Pharmacie" class="mini-box" style="text-decoration:none">
                            <i><img src="../../assets/imp/medicine.png" width="55px" alt=""></i>
                            <strong>Pharmacie</strong>
                            <span>Gestion des Pharmacie à Antananarivo.</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a routerLink="/InfoCovidMada-Admin-Ctc" class="mini-box" style="text-decoration:none">
                            <i><img src="../../assets/imp/hospital.png" width="55px" alt=""></i>
                            <strong>Centre de Traitement Covid-19</strong>
                            <span>Gestion des CTC-19 à Antananarivo.</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a routerLink="/InfoCovidMada-Admin-Hh" class="mini-box" style="text-decoration:none">
                            <i><img src="../../assets/imp/hostel.png" width="55px" alt=""></i>
                            <strong>Hôtels-Hôpitaux Covid-19</strong>
                            <span>Gestion des HHC-19 à Antananarivo.</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>