<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->

        <title>Responsive sidebar submenus</title>
    </head>
    <body>
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <img src="../../assets/imp/home.png" alt="" class="header__img">

                <a href="#"   class="header__logo">  InfoCovidMada {{resultListMonde}}//{{resultListMada}}</a>
    
                <div class="header__search">
                    <input type="search" placeholder="Search" class="header__input">
                    <i class='bx bx-search header__icon'></i>
                </div>
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>

        <!--========== NAV ==========-->
        <div class="nav" style="background-color: #aee571;" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="#" class="nav__link nav__logo">
                        <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/home.png" alt="" >
                        <span class="nav__logo-name">InfoCovidMada</span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Menu</h3>
                            
                            <a href="#" class="nav__link active">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/usermember.png" alt="" >
                                <span class="nav__name">Accueil</span>
                            </a>
                            <a href="#" class="nav__link ">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/usermember.png" alt="" >
                                <span class="nav__name">Statistiques</span>
                            </a>
                            <a routerLink="/Liste-pharmacies-garde-Antananarivo" class="nav__link ">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/usermember.png" alt="" >
                                <span class="nav__name">Liste des pharmacies</span>
                            </a>
                            
                            <a routerLink="/Liste-Centres-Traitement-Covid-19" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/cashback.png" alt="" >
                                <span class="nav__name">Liste des CTC-19</span>
                            </a>

                            <a routerLink="/Liste-Hôtels-Hôpitaux-Covid-19" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/cashback.png" alt="" >
                                <span class="nav__name">Liste des HH</span>
                            </a>
                            
                            <a routerLink="/InfoCovidMada-Admin-Connexion" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/cashback.png" alt="" >
                                <span class="nav__name">Admin login</span>
                            </a>
                        </div>
    
                    </div>
                </div>

                <a href="#" class="nav__link nav__logout">
                    <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/logout.png" alt="" >
                    <span class="nav__name">Tsiky Navalona</span>
                </a>
            </nav>
        </div>

        <!--========== CONTENTS ==========-->
        <main>
            <section>
               <div class="box" style="margin-top:55px;width:1000px;height:auto">
                    <h1 style="font-size:1.5em">InfoCovidMada : Madagascar et le monde </h1>
                    <h2 style="font-size:1em">Situation de Madagascar face au Covid-19 </h2> 
                    <p style="margin-top : 50px;text-align:left;text-indent:50px;line-height:35px"> Depuis 23 mars 2020 , Madagascar est entré en état d’urgence sanitaire et cela jusqu'à maintenant.Courant mars 2021, la situation ne cesse d’augmenter principalement dans 3 régions à savoir Analamanga où est située la capitale Antananarivo, Boeny (ouest) et Diana (nord). Ce site regroupe les informations à savoir sur le Covid-19 à Madagascar et les statiques de Madagascar face au monde.</p>
                    
                </div>
            </section>
        </main>

        <!--========== MAIN JS ==========-->
    </body>
</html>
