<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->

    </head>
    <body>
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <img src="../../assets/imp/home.png" alt="" class="header__img">
                <a href="#"   class="header__logo">  InfoCovidMada</a>
            </div>
        </header>

        <!--========== NAV ==========-->
        <div class="nav" style="background-color: #aee571;" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="#" class="nav__link nav__logo">
                        <img class=' nav__icon'  style="width:35px"  src="../../assets/imp/virus.png" alt="" >
                        <span class="nav__logo-name">InfoCovidMada</span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Menu</h3>
                            
                            <a href="#" class="nav__link active">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/home.png" alt="" >
                                <span class="nav__name">Accueil</span>
                            </a>
                            <a routerLink="/InfoCovidMada-Statistique/{{date}}" class="nav__link ">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/trend.png" alt="" >
                                <span class="nav__name">Statistiques</span>
                            </a>
                            <a routerLink="/Liste-pharmacies-garde-Antananarivo" class="nav__link ">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/medicine.png" alt="" >
                                <span class="nav__name">Liste des pharmacies</span>
                            </a>
                            
                            <a routerLink="/Liste-Centres-Traitement-Covid-19" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/hospital.png" alt="" >
                                <span class="nav__name">Liste des CTC-19</span>
                            </a>

                            <a routerLink="/Liste-Hôtels-Hôpitaux-Covid-19" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/hostel.png" alt="" >
                                <span class="nav__name">Liste des HH</span>
                            </a>
                            
                            <a routerLink="/InfoCovidMada-Admin-Connexion" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/admin.png" alt="" >
                                <span class="nav__name">Admin login</span>
                            </a>
                        </div>
    
                    </div>
                </div>

                <a href="#" class="nav__link nav__logout">
                    <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/copyright.png" alt="" >
                    <span class="nav__name">Tsiky Navalona</span>
                </a>
            </nav>
        </div>

        <!--========== CONTENTS ==========-->
        <main>
            <section>
               <div class="box" style="margin-top:55px;width:1000px;height:auto">
                    <h1 style="font-size:1.5em"><strong> InfoCovidMada : Madagascar et le monde</strong></h1>
                    <h2 style="font-size:1em">Situation de Madagascar face au Covid-19 </h2> 
                    <h4 style="margin-top : 50px;text-align:left;text-indent:50px;line-height:35px;font-weight:normal"> Depuis 23 mars 2020 ,<strong>Madagascar</strong> est entré en <strong>état d’urgence sanitaire</strong> et cela jusqu'à maintenant.Courant mars 2021, la situation ne cesse de s'aggraver principalement dans<strong> 3 régions</strong> à savoir <strong>Analamanga</strong> où est située la capitale Antananarivo, <strong>Boeny</strong> (ouest) et <strong>Diana</strong> (nord). Ce site regroupe les <strong>informations</strong> à savoir sur le <strong>Covid-19</strong> à Madagascar et les statiques de <strong>Madagascar face au monde</strong>.</h4>
                    
                </div>
            </section>
        </main>

        <!--========== MAIN JS ==========-->
    </body>
</html>
