<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->

    </head>
    <body>
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <img src="../../assets/imp/home.png" alt="" class="header__img">
                <a href="#"   class="header__logo">  InfoCovidMada</a>
            </div>
        </header>

        <!--========== NAV ==========-->
        <div class="nav" style="background-color: #aee571;" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="#" class="nav__link nav__logo">
                        <img class=' nav__icon'  style="width:35px"  src="../../assets/imp/virus.png" alt="" >
                        <span class="nav__logo-name">InfoCovidMada</span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Menu</h3>
                            
                            <a href="/" class="nav__link ">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/home.png" alt="" >
                                <span class="nav__name">Accueil</span>
                            </a>
                            <a routerLink="/InfoCovidMada-Statistique/{{date}}" class="nav__link active">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/trend.png" alt="" >
                                <span class="nav__name">Statistiques</span>
                            </a>
                            <a routerLink="/Liste-pharmacies-garde-Antananarivo" class="nav__link ">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/medicine.png" alt="" >
                                <span class="nav__name">Liste des pharmacies</span>
                            </a>
                            
                            <a routerLink="/Liste-Centres-Traitement-Covid-19" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/hospital.png" alt="" >
                                <span class="nav__name">Liste des CTC-19</span>
                            </a>

                            <a routerLink="/Liste-Hôtels-Hôpitaux-Covid-19" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/hostel.png" alt="" >
                                <span class="nav__name">Liste des HH</span>
                            </a>
                            
                            <a routerLink="/InfoCovidMada-Admin-Connexion" class="nav__link">
                                <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/admin.png" alt="" >
                                <span class="nav__name">Admin login</span>
                            </a>
                        </div>
    
                    </div>
                </div>

                <a href="#" class="nav__link nav__logout">
                    <img class=' nav__icon'  style="width:20px"  src="../../assets/imp/copyright.png" alt="" >
                    <span class="nav__name">Tsiky Navalona</span>
                </a>
            </nav>
        </div>

        <!--========== CONTENTS ==========-->
        <main>
            <section>
               <div class="box" style="margin-top:55px;width:1100px;height:auto">
                    <h1 style="font-size:1.5em">InfoCovidMada : les statistiques de Madagascar face au monde </h1>
                    <h2 style="font-size:1em">Les chiffres relatifs au Covid-19 à Madagascar et dans le monde ({{date}}):</h2> 

                    <div class="flex-container" style="margin-bottom:50px;margin-top:50px">
                        <div style="flex-grow: 3 ;background-color: white;" ></div>
                        <div style="flex-grow: 6 ;background-color: white;" >
                            <input type="date" class="input100 input " [(ngModel)] = "dateCovid" [ngModelOptions]="{standalone: true}"style="width: 350px"    required/>
                        </div>
                        <div style="flex-grow: 6 ;background-color: white;margin-top:-10px" >
                            <button  class="button-css"  routerLink="/InfoCovidMada-Statistique/{{dateCovid}}">Valider</button>
                        </div>
                        <div style="flex-grow: 3 ;background-color: white;" ></div>
                    </div>

                    <div class="flex-container">
                        <div style="flex-grow: 6" style="width:484px">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                                    <i class="opacity-8"><img style="margin-top:10px;width:85px" src="../../assets/imp/plus.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Nouveaux cas à Madagascar</strong></div>
                                    <div class="widget-subheading">{{ newConfirmedMada | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                        <div style="flex-grow: 6 ;background-color: white;" ></div>
                        <div style="flex-grow: 6" style="width:489px">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                                    <i class="opacity-8"><img style="margin-top:10px;width:85px" src="../../assets/imp/plus.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Nouveaux cas dans le monde</strong></div>
                                    <div class="widget-subheading">{{ newConfirmedWorld | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="flex-container">
                        <div style="flex-grow: 6" style="width:484px">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                                    <i class="opacity-8"><img style="margin-top:10px;width:85px" src="../../assets/imp/plus.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Total de cas à Madagascar</strong></div>
                                    <div class="widget-subheading">{{ totalConfirmedMada | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                        <div style="flex-grow: 6 ;background-color: white;" ></div>
                        <div style="flex-grow: 6" style="width:489px">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                                    <i class="opacity-8"><img style="margin-top:10px;width:85px" src="../../assets/imp/plus.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Total de cas dans le monde</strong></div>
                                    <div class="widget-subheading">{{ totalConfirmedWorld | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="flex-container">
                        <div style="flex-grow: 6">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div  style="background-color:#c62828" class="icon-wrapper-bg opacity-10 "></div>
                                    <i class="opacity-8"><img style="margin-top:10px;width:85px" src="../../assets/imp/skull.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Nombres de décès à Madagascar</strong></div>
                                    <div class="widget-subheading">{{ newDeathMada | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                        <div style="flex-grow: 6 ;background-color: white;" ></div>
                        <div style="flex-grow: 6">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div style="background-color:#c62828" class="icon-wrapper-bg opacity-10 "></div>
                                    <i class="*opacity-8"><img style="margin-top:10px;width:85px" src="../../assets/imp/skull.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Nombres de décès dans le monde</strong></div>
                                    <div class="widget-subheading">{{ newDeathWorld | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-container">
                        <div style="flex-grow: 6" style="width:482px">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div  style="background-color:#c62828" class="icon-wrapper-bg opacity-10"></div>
                                    <i class="opacity-8"><img style="margin-top:10px;width:85px" src="../../assets/imp/skull.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Total de décès à Madagascar</strong></div>
                                    <div class="widget-subheading">{{ totalDeathMada | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                        <div style="flex-grow: 6 ;background-color: white;" ></div>
                        <div style="flex-grow: 6"  style="width:488px">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div style="background-color:#c62828" class="icon-wrapper-bg opacity-10 "></div>
                                    <i class="*opacity-8"><img style="margin-top:10px;width:85px" src="../../assets/imp/skull.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Total de décès dans le monde</strong></div>
                                    <div class="widget-subheading">{{ totalDeathWorld | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="flex-container">
                        <div style="flex-grow: 6">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div style="background-color:#66bb6a" class="icon-wrapper-bg opacity-10 "></div>
                                    <i class="opacity-8"><img style="margin-top:15px;width:85px" src="../../assets/imp/health.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Nombres de guéris à Madagascar</strong></div>
                                    <div class="widget-subheading">{{ newHealedMada | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                        <div style="flex-grow: 6 ;background-color: white;" ></div>
                        <div style="flex-grow: 6">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div  style="background-color:#66bb6a" class="icon-wrapper-bg opacity-10"></div>
                                    <i class="opacity-8"><img style="margin-top:15px;width:85px" src="../../assets/imp/health.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Nombres de guéris dans le monde</strong></div>
                                    <div class="widget-subheading">{{ newHealedWorld | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex-container">
                        <div style="flex-grow: 6"  style="width:484px">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div  style="background-color:#66bb6a" class="icon-wrapper-bg opacity-10"></div>
                                    <i class="opacity-8"><img style="margin-top:15px;width:85px" src="../../assets/imp/health.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Total de guéris à Madagascar</strong></div>
                                    <div class="widget-subheading">{{ totalHealedMada | number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                        <div style="flex-grow: 6 ;background-color: white;" ></div>
                        <div style="flex-grow: 6"  style="width:488px">
                            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                                <div class="icon-wrapper rounded-circle">
                                    <div  style="background-color:#66bb6a" class="icon-wrapper-bg opacity-10"></div>
                                    <i class="opacity-8"><img style="margin-top:15px;width:78px" src="../../assets/imp/health.png" alt="" ></i>
                                </div>
                                <div class="widget-chart-content">
                                    <div class="widget-subheading" style="font-size:20px"><strong>Total de guéris dans le monde</strong></div>
                                    <div class="widget-subheading">{{ totalHealedWorld |  number: '.0' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </main>

        <!--========== MAIN JS ==========-->
    </body>
</html>
